.container {
    width: 100vw;
    display: flex;
    background: linear-gradient(rgb(197, 235, 240), white);
}

.image {
    height: 700px;
    width: 800px;
    display: block;
    margin-left: 200px;
    margin-right: auto;
}

/* #picture-barista {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-bottom: 70px;
} */

#start-game {
    margin: 500px 500px 100px 100px;
    color: orangered;
    font-family: serif;
    font-size: 50px;
    text-decoration: none;
    margin: 420px 0px 0px 30px;
    animation: Test 1s infinite;
}

@keyframes Test {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


header {
    margin: 20px;
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.counter-success {
    font-size: 20px;
    color: black;
}

.life {
    font-size: 1.6rem;
    color: darkred;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    width: 600px;
}

.coffee-illustration {
    width: 600px;
    height: 450px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.coffee-image {
    height: 440px;
    width: 630px;
}

#item-list {
    color: rgb(65, 61, 61);
    font-size: 1.7rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

.fas {
    padding: 7px;
}

.game-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#proposition {
    border: 1px black solid;
    height: 28px;
    width: 400px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

#btn-serve {
    background: rgb(38, 100, 18);
    color: white;
    width: auto;
    height: auto;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px / 10px 10px;
}

#btn-delete {
    background: darkred;
    color: white;
    width: auto;
    height: auto;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px / 10px 10px;
}

.order-div {
    background-image: url(/ardoise.png);
    height: 430px;
    width: 250px;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 60px;
    color: white;
    font-size: 17px;
}

.result-background {
    background: linear-gradient(rgb(197, 235, 240), white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-recap {
    font-size: 1.5rem;
    width: 280px;
}

.score-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#replay {
    background: orangered;
    color: white;
    border: 3px white solid;
    height: 60px;
    width: 120px;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px 10px / 10px 10px;
}